<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
</head>
<body>
  <div class="main-content">
    <%= render 'admin/shared/left_side_bar', dashboard: 'active' %>

    <div class="right-side-content">
      <div class="container container-wrapper card">
        <div class="main-content-header">
          <h2>Dashboard</h2>
        </div>
        <div class="dashboard-cards">
          <%= render 'admin/dashboard/index/dashboard_card', title: '20', description:'Total Empoyees' %>
          <%= render 'admin/dashboard/index/dashboard_card', title: '20', description:'Present Employees' %>
          <%= render 'admin/dashboard/index/dashboard_card', title: '10', description:'Absent Employees' %>
        </div>
                <div class="dashboard-graphs">
          <%= render 'admin/dashboard/index/dashboard_graph', type: 'line', title: 'Working Hours' %>
          <%= render 'admin/dashboard/index/dashboard_graph', type: 'pie', title: 'Attendance Status' %>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
