<div class="main-content">
  <%= render 'admin/shared/left_side_bar', dashboard: 'active' %>
  <div class="right-side-content">
    <div class="container container-wrapper card">
      <div class="main-content-header">
        <h2>Dashboard</h2>
      </div>
      <div class="dashboard-cards">
        <%= render 'admin/dashboard/index/dashboard_card', title: @employees.count, description:'Total Employees' %>
        <%= render 'admin/dashboard/index/dashboard_card', title: @present_employees.count, description:'Present Employees' %>
        <%= render 'admin/dashboard/index/dashboard_card', title: @absent_employees_count, description:'Absent Employees' %>
      </div>
      <div class="dashboard-graphs">
        <%= render 'admin/dashboard/index/dashboard_graph', type: 'column', title: 'Last week' %>
        <%= render 'admin/dashboard/index/dashboard_graph', type: 'pie', title: 'Attendance Status' %>
      </div>
    </div>
  </div>
</div>
