<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee List</title>
</head>
<body>
    <div class="main-content">
    <%= render 'admin/shared/left_side_bar', employees: 'active' %>

    <div class="right-side-content">
      <div class="container container-wrapper card">
        <div class="main-content-header">
          <h2>Employee List</h2>
          <div class="main-content-header-inputs">
            <form class="form-inline my-2 my-lg-0 main-content-header-input">
              <%= render 'admin/shared/search_bar' %>
            </form>
            <%= link_to '+ Add Employee', new_admin_employee_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'main-content-header-input btn btn-success'}  %>
          </div>
        </div>
        <%= render 'admin/employee/index/add_employee_modal' %>     
        <%= render 'admin/employee/index/employee_list' %>     
        <%= render 'shared/pagination', item: @employees %>
      </div>
    </div>
  </div>
</body>
</html>
