<%= form_with(model: @employee, url: admin_employee_path, method: :put,  local: true) do |f| %>

<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name, class: "form-control", value: employee[:first_name] %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name, class: "form-control", value: employee[:last_name] %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class: "form-control",  value: employee[:email] %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :password %><br/>
    <%= f.password_field :password, class: "form-control",  value: employee[:password] %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-4">
    <%= f.label "Company id" %><br/>
    <%= f.text_field :company_id, class: "form-control",  value: employee[:company_id], disabled: true %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :phone_number %><br/>
    <%= f.text_field :phone_number, class: "form-control",  value: employee[:phone_number] %>
  </div>
  <div class="form-group col-md-4">
   <%= f.label :gender %><br/>
    <%= f.collection_select :gender_id, Gender.order(:id),:id,:title, {selected: employee.gender[:id]}, {class: "form-control"} %>
  </div>
</div>

<% @address = employee.addresses.select {|address| address[:status] == "active"}.first %>

<%= f.fields_for :address do |address_form| %>
<div class="form-row">
  <div class="form-group col-md-12">
    <%= address_form.label "Address" %><br/>
    <%= address_form.text_field :line_one, class: "form-control",  value: @address[:line_one] %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-12">
    <%= address_form.label "Address (line 2)" %><br/>
    <%= address_form.text_field :line_two, class: "form-control", value: @address[:line_two] %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <%= address_form.label :city %><br/>
    <%= address_form.text_field :city, class: "form-control", value: @address[:city] %>
  </div>
  <div class="form-group col-md-6">
    <%= address_form.label :pin %><br/>
    <%= address_form.text_field :pin, class: "form-control", value: @address[:pin] %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <%= address_form.label :country %><br/>
    <%= address_form.text_field :country, class: "form-control", value: @address[:country] %>
  </div>
</div>
<% end %>

<div class="form-row">
  <div class="main-content-footer col-md-12">
    <%= button_tag "Reset", type: :reset , class: "btn btn-danger" %>
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
</div>

<% end %>
